.mainCartPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  min-height: 800px;
}


.emptyCart {
  color: lightgray;
  font-size: 2em;
  text-align: center;
}

.totalPrice {
  box-shadow: 2px 2px 4px salmon;
  height: 400px;
  padding: 40px;
  position: relative;
  width: 30%;
}

.totalPrice h1 {
  color: gray;
  font-size: 2em;
  font-weight: 100;
}

.totalPrice table {
  width: 100%;
}

.totalPrice table tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftSide {
  color: gray;
  font-size: 0.9em;
}

.rightSide {
  color: gray;
  font-size: 1.1em;
  text-align: right;
}

.totalPrice button {
  background-color: salmon;
  border: 0;
  bottom: 30px;
  box-shadow: 1px 1px 2px grey;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  height: 40px;
  left: 25%;
  padding: 10px 20px;
  position: absolute;
  width: 50%;
}

.totalPrice button:hover {
  background-color: white;
  border: salmon 1px solid;
  color: salmon;
}

.totalPrice button:focus {
  outline: 0;
}
